@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* #131516 */
  --foreground: #131516;
}

@media (prefers-color-scheme: light) { /*dark*/
  :root {
    --background: #131516;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto; 
}
